html,
body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif!important;
}

.register {
  padding: 100px 20px;
}

.register h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.register .form-control,
.register .form-select {
  padding: 13px;
  border: 1px solid #ced4da;
}

.register label {
  color: #3f3f46;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}